<!DOCTYPE html>
<html>

<head>
    <title>Celendi</title>
    <link rel="shortcut icon" href="Celendi.png" />
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="og:title" content="Celendi">
    <meta name="og:description" content="Official website from Celendi, currently under construction.">
    <meta name="og:image" content="Celendi.png">
    <meta name="og:site_name" content="Jqstln & Zyztem & Iliannnn">

    <meta name="keywords" content="Celendi, Discord bot">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

        html {
            height: 100%;
            cursor: default;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: 'Karla', sans-serif;
            width: 100%;
            height: 100%;
            text-align: center;
            display: table;
            opacity: 1;
            animation: fadein 3s forwards;
        }

        h2 {
            font-weight: 300;
            margin-bottom: 25px;
        }

        img {
            width: 10%;
            border: 0;
        }

        #main {
            vertical-align: middle;
            display: table-cell;
        }

        #progress {
            width: 45%;
            margin: 0 auto;
            border-radius: 10px;
            background-color: #a8a8a8;
            padding: 7px 5px;
            border: 5px solid #a8a8a8;
        }

        #fill {
            padding: 2px 0;
            background-color: #00b98b;
            width: 0%;
            border-radius: 25px;
            animation: proanimate 2s;
        }

        #barpercent h3 {
            color: white;
            margin: 0;
            padding: 0;
            opacity: 1;
            animation: fadein 3s forwards;
        }

        button a {
            text-decoration: none;
            color: white;
        }

        p a {
            text-decoration: none;
            color: black;
        }

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f04747;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 20px;
            padding: 10px;
            width: 250px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }
        }

        @keyframes proanimate {
            from {
                width: 0%;
            }
        }

        @media screen and (max-width:600px) {
            img {
                width: 60%;
            }

            h1 {
                font-size: 1.3em;
            }

            h2 {
                margin: 1.1em;
                font-size: 1.1em;
            }

            #progress {
                width: 80%;
            }
        }
    </style>
</head>

<body>
    <div id="main">
        <h1>404</h1>
        <h2>Cannot find this page.</h2>
    </div>
</body>

<script src="console.js"></script>

</html>
