<head>
    <title>Celendi - A multi-functional Discord Bot</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="og:title" content="Celendi">
    <meta name="og:description" content="Official website from Celendi">
    <meta name="og:image" content="Celendi.png">
    <meta name="og:site_name" content="Jqstln & Zyztem & Iliannnn">
    <meta name="keywords" content="Celendi, Discord bot, multi-functional, celendi discord bot, celendi discord">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <link rel="shortcut icon" href="img/Celendi.webp" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/d8c5b375b3.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("include/_nav.ejs") %>
        <main>
            <div class="heading">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
                <div class="container" style="text-align: center;">
                    <button type="button" class="btn btn-dark">Invite the bot</button>
                    <button type="button" class="btn btn-dark">Support Server</button>
                </div>
            </div>
            <div class="features">
                <h1>Our bot features.</h1>
                <p>We offer many features in our bot so u can use them, and here u can see the 4 most important
                    features.</p>
                <div class="boxes">
                    <div class="box">
                        <div class="info">
                            <i class="fa-solid fa-gavel fa-2xl" id="faicon"></i>
                            <h2>Moderation</h2>
                            <p>Celendi is a multi-functional discord bot to duckroll u.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="info">
                            <i class="fa-solid fa-clock fa-2xl" id="faicon"></i>
                            <h2>Utility</h2>
                            <p>Celendi is a multi-functional discord bot to duckroll u.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="info">
                            <i class="fa-solid fa-question fa-2xl" id="faicon"></i>
                            <h2>Quick Support</h2>
                            <p>Celendi is a multi-functional discord bot to duckroll u.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="info">
                            <i class="fa-solid fa-chart-line fa-2xl" id="faicon"></i>
                            <h2>Dashboard</h2>
                            <p>Celendi is a multi-functional discord bot to duckroll u.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include("include/_footer.ejs") %>
</body>