<head>
    <title>Celendi - A multi-functional Discord Bot</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="og:title" content="Celendi">
    <meta name="og:description" content="Official website from Celendi">
    <meta name="og:image" content="Celendi.png">
    <meta name="og:site_name" content="Jqstln & Zyztem & Iliannnn">
    <meta name="keywords" content="Celendi, Discord bot, multi-functional, celendi discord bot, celendi discord">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <link rel="shortcut icon" href="img/Celendi.webp" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-xl">
            <a class="navbar-brand" href="#">
                <img src="img/Celendi.webp" width="45" class="d-inline-block align-top align-middle" alt="">
                Celendi
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Premium</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">Links</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" href="discord">Support Server</a></li>
                            <li><a class="dropdown-item" href="https://docs.celendi.me/">Documentation</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary"><a href="invite">Invite</a></button>
                        <button type="button" class="btn btn-primary" disabled><a href="#">Dashboard</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1>Upgrade your server experience.</h1>
            <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                containing a wide selection of commands from fun to moderation, we have it all!</p>
            <widgetbot server="837028015706996806" channel="886215488802263040" width="800" height="600"></widgetbot>
        </div>
    </main>
</body>