<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Celendi - Managing your server is much easier now" />
    <meta name="description" content="Celendi is a multi-functional discord bot that helps you maintain your server. Offering moderation, logging, fun, image commands and much more to use in this." />
    <link rel="shortcut icon" href="Celendi.png"/>
    <link rel="stylesheet" href="style.css">
    <title>Celendi - Coming Soon</title>
</head>
<body>
    <div class="container">
        <img src="Celendi.png" alt="Celendi">
        <h1 style="color:white;">Coming soon.</h1>
        <p style="color:whitesmoke;">We are working hard to get our website up and running, in the maintime you can already invite the bot <a id="invite" href="https://discord.com/oauth2/authorize?client_id=786679486749999214&permissions=3207851399&scope=bot%20applications.commands">here</a></p>
        <button class="button"><span><a href="https://discord.com/oauth2/authorize?client_id=786679486749999214&permissions=3207851399&scope=bot%20applications.commands">Invite the bot </a></span></button>
        <button class="button"><span><a href="https://discord.gg/GWdnwwYMjZ">Support Server </a></span></button>
        <p style="color:whitesmoke;"><a id="terms" href="/terms">Terms of Services</a><br><a id="privacy" href="/privacy">Privacy Policy</a></p>
    </div>
    <script src="console.js"></script>
</body>
</html>