<head>
    <title>Celendi - A multi-functional Discord Bot</title>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="og:title" content="Celendi">
    <meta name="og:description" content="Official website from Celendi">
    <meta name="og:image" content="Celendi.png">
    <meta name="og:site_name" content="Jqstln & Zyztem & Iliannnn">
    <meta name="keywords" content="Celendi, Discord bot, multi-functional, celendi discord bot, celendi discord">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <link rel="shortcut icon" href="img/Celendi.webp" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.bundle.js"></script>
</head>

<body>
    <%- include("include/_nav.ejs") %>
        <main>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container" style="text-align: center;">
                <button type="button" class="btn btn-dark">Invite the bot</button>
                <button type="button" class="btn btn-dark">Support Server</button>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
            <div class="container">
                <h1>Upgrade your server experience.</h1>
                <p>Celendi is a multi-functional discord bot designed to be the only bot you need in your server,<br>
                    containing a wide selection of commands from fun to moderation, we have it all!</p>
            </div>
        </main>

    <%- include("include/_footer.ejs") %>
</body>