<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Celendi">
    <meta name="og:description" content="Official website from Celendi">
    <meta name="og:image" content="Celendi.png">
    <meta name="og:site_name" content="Jqstln & Zyztem & Iliannnn">
    <meta name="keywords" content="Celendi, Discord bot, multi-functional, celendi discord bot, celendi discord">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <link rel="shortcut icon" href="img/Celendi.webp" />

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.bundle.js"></script>
    <title>Celendi - Terms of Service</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

        .center {
            width: 50%;

            color: gray;
            font-style: italic;
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>

<body>
    <%- include("include/_nav.ejs") %>
        <main>
            <div class="container">
                <p>
                    # Introduction

                    Last Updated: 25th March, 2022

                    At EternalGaius, one of our main priorities is the Privacy of our user's data. This Privacy Policy
                    document
                    contains the types of information that is collected and used by EternalGaius and how we use it to
                    provide
                    service to our users.

                    For additional questions, do not hesitate to contact us via [Discord](https://discord.gg/9PnUBeu)

                    # Privacy Policy

                    By using EternalGaius (as referred - "service"), you consent to our Privacy Policy and agree to its
                    terms.

                    ## Data We Collect and Why we collect it

                    The "service" uses the Information you provide us only for improving and maintaining itself. By
                    using the
                    "service", you agree to the collection and usage of the information in accordance with this policy.

                    Normally we only collect the data that the Discord API has given to us, however when getting
                    dedicated
                    assistance/support from the "service" developers, we may ask you for your Name, Email Address
                    ("Personal
                    Information"), and/or any other information that you wish to provide us with. If you wish not to
                    provide
                    these information, you may tell the "service" Developer that is currently assisting you.

                    Any Personal Data we collect will not be kept permanent, the Personal Data you provide us will be
                    immediately destroyed after the "Support/Assistance" regarding the "service"

                    ## The rights you have over your data

                    If you have connected the "service" to your Discord Server, you can request to receive a JSON File
                    of the
                    Server-side configuration data we hold about the Discord Server. You can also requst to erase any
                    data we
                    hold about you by removing the "service" from your Discord Server. This will remove server-side
                    configurations stored in our databases.

                    When requesting the Server-side Configuration Data, we'll have to confirm that the requester is the
                    Server
                    Owner, if we fail to confirm that the requester is the Server Owner, the data will not be given to
                    the
                    requester.

                    You can also request a JSON file/an erase of your user-profile configuration.

                    To receive these data, please contact a "service" developer.

                    ## Regarding the Requested Data

                    Operating as a Discord Bot, we will send your Requested Data, to the requester's DMs ("Direct
                    Message") via
                    the service (EternalGaius), and will send your data within 5 days, if you did not receive the data
                    you
                    requested within 5 days, please reach out to a "service" Developer.

                    ## How we secure your data

                    The security of your Personal Information is important to us, but remember that no method of
                    transmission
                    over the Internet, or method of electronic storage, is 100% secure. While we strive to use
                    commercially
                    acceptable means to protect your Personal Information, we cannot guarantee its absolute security.

                    ## Effectiveness

                    This Privacy Policy is effective as of April 1st, 2022 and will remain in effect except with respect
                    to any
                    changes in its provisions in the future, which will be in effect immediately after being changed on
                    one of
                    the Official Releases of the “service”.
                </p>
            </div>
        </main>
        <%- include("include/_footer.ejs") %>
</body>